<html>
    <body>
        <h1>Email Verification</h1>
        <p>Click the link below to verify your email address:</p>
        <a style="display: block; padding: 6px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; border-radius: 4px;" href="{{ verification_link }}">Verify Email</a>
        <p style="font-size: 15px; font-weight: bold;">The Insightly Team</p>
        <p style="font-size: 15px; font-style: italic;">Transforming data into clarity</p>
    </body>
</html>