<html>
    <body style="color: #0A1316; background-color: #FFFFFF; font-family: Arial, sans-serif; padding: 10px;">
        <h3 >Verify Your OTP</h3>
        <p style="font-size: 15px;">Please enter the 6 digit code provided below for authentication.</p>
        <h2 style="font-weight: bold;">{{otp}}</h2>
        <p style="font-weight: bold; font-size: 15px;">NB: Kindly ignore if you did not authorize this action.</p>
        <p style="font-size: 15px; font-weight: bold;">The Insightly Team</p>
        <p style="font-size: 15px; font-style: italic;">Transforming data into clarity</p>
    </body>
</html>